@import "com/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Flex:wght@200&display=swap");
@import "com/variables.css";

/*components*/
@import "com/status-bar.css";
@import "com/nav-bar.css";
@import "com/screen-header.css";
@import "com/user-com.css";
@import "com/badge.css";
@import "com/icon-row.css";
@import "com/alt-screen-header.css";
@import "com/no-mobile.css";

/*login-page*/
@import "login.css";

/*friends-page*/
@import "friends.css";

/*find page*/
@import "find.css";

/*more page*/
@import "more.css";

/*setting page*/
@import "setting.css";

/*chat page*/
@import "chat.css";

body {
  font-family: "Lato", sans-serif;
  color: #2e363e;
  height: 200vh;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
