@import "com/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Flex:wght@200&display=swap");
@import "com/variables.css";

/*components*/
@import "com/status-bar.css";
@import "com/nav-bar.css";
@import "com/screen-header.css";
@import "com/user-com.css";

/*login-page*/
@import "login.css";

/*friends-page*/
@import "friends.css";

body {
  font-family: "Lato", sans-serif;
  color: #2e363e;
  height: 100vh;
}
