.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icon {
  position: relative;
}

.red-dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -4px;
  top: -7px;
}

.screen-header__icon span {
  margin-left: 20px;
}
